.navigation
  .container
    .inside
      .nav.nav-tab.menu
        button.btn
          img.avatar-xl(src='dist/img/avatars/avatar-male-1.jpg' alt='avatar')
        a(href='#members' data-toggle='tab')
          i.material-icons account_circle
        a.active(href='#discussions' data-toggle='tab')
          i.material-icons.active chat_bubble_outline
        a.f-grow1(href='#notifications' data-toggle='tab')
          i.material-icons notifications_none
        button.btn.mode
          i.material-icons brightness_2
        a(href='#settings' data-toggle='tab')
          i.material-icons settings
        button#logout.btn.power
          i.material-icons power_settings_new