doctype html
head
  meta(charset='utf-8')
  title Swipe &ndash; The Simplest Chat Platform
  meta(name='description' content='#')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap core CSS
  link(href='/dist/css/lib/bootstrap.min.css' type='text/css' rel='stylesheet')
  // Swipe core CSS
  link(href='/dist/css/swipe.min.css' type='text/css' rel='stylesheet')
  // Favicon
  link(href='/dist/img/favicon.png' type='image/png' rel='icon')
main
  .layout
    include ../components/navigation.pug

    include ../components/sidebar.pug

    include ../components/addFriend.pug

    include ../components/createChat.pug

    block content
//
  Bootstrap/Swipe core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src='/dist/js/app/auth/middlewares/route.private.js')
script(src='/dist/js/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="/dist/js/vendor/jquery-slim.min.js"><\\/script>')
script(src='/dist/js/vendor/popper.min.js')
script(src='/dist/js/swipe.min.js')
script(src='/dist/js/bootstrap.min.js')
script(src='/socket.io/socket.io.js')
script(src='/dist/js/app/pages/home.js')
script(src='/dist/js/app/auth/logout.js')
